body {
  font-family: sans-serif;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

button {
  background: #39A900;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.resultado {
  background: #d4edda;
  padding: 15px;
  border-left: 5px solid #39A900;
  width: 300px;
  margin-top: 20px;
}
